* {
  position: relative;
  box-sizing: border-box;
  font-size: $fontSizeDefault;

  a {
    text-decoration: none;
    color: $primary;
  }
}

// layout
.container {
  padding: 0 130px 0 130px;
}

// btn 
button {
  border: 1.5px solid $primary;
  padding: 12px 28px 12px 28px;
  border-radius: 57px;
}

// 文字大小
h1 {
  font-size: $fontSizeDefault + $fontSpace * 28;  // 60px
}
h2 {
  font-size: $fontSizeDefault + $fontSpace * 19;  // 46px
}