* {
  position: relative;
  box-sizing: border-box;
  font-size: $fontSizeDefault;

  a {
    text-decoration: none;
    color: $primary;
  }
}

// ------------- layout -------------
$gutter-width: 40px;
$grid-sum: 12;
.container-lg {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px 0 8px;
}
@media (max-width: 768px) {
  .container-md {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px 0 8px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}
@for $var from 1 through $grid-sum {
  .col-lg-#{$var} {
    position: relative;
    max-width: 100% * ($var / $grid-sum);
    flex: 0 0 (100% * ($var / $grid-sum));
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
}
// 平板设备样式
@media (max-width: 768px) {
  @for $var from 1 through $grid-sum {
    .col-md-#{$var} {
      position: relative;
      max-width: 100% * ($var / $grid-sum);
      flex: 0 0 (100% * ($var / $grid-sum));
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}

// ------------- rwd -------------
// 平板尺寸
@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
// 手機尺寸 
@mixin mobile{
  @media(max-width:480px){
    @content;
  }
}

// ------------- btn -------------
button {
  border: 1.5px solid $primary;
  padding: 12px 28px 12px 28px;
  border-radius: 57px;
  cursor: pointer;
}

// ------------- 文字大小 -------------
h1 {
  font-size: $fontSizeDefault + $fontSpace * 28;  // 60px
}
h2 {
  font-size: $fontSizeDefault + $fontSpace * 23;  // 52px
}
h3 {
  font-size: $fontSizeDefault + $fontSpace * 19;  // 46px
}
h4 {
  font-size: $fontSizeDefault + $fontSpace * 13;  // 36px
}
h5 {
  font-size: $fontSizeDefault + $fontSpace * 5; //24px
}
// p 16px
span {
  font-size: $fontSizeDefault - $fontSpace; //14px
}