.homePage {

  .hero {
    padding-top: 104px;
    background-color: $bgc;

    // 標題
    h1,h2{
      font-weight: bold;
      color: $primary;
    }
    h1 {
      padding-top: 48px;
      line-height: 68px;
    }
    h2 {
      padding-top: 4px;
      line-height: 60px;
    }
    p {
      line-height: 24px;
      display: inline-block;
      padding-top: 24px;
    }

    // btn
    .btnArea {
      padding-top: 34px;
      display: flex;

      button {
        display: flex;

        &.btnSecondary {
          margin-right: 20px;
        }
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 8px;
      }
    }
  }
}