.homePage {
  
  // hero
  .hero {
    padding-top: 104px;
    background-color: $bgc;
    height: 100vh;


    // 背景
    .backgroundImg {
      position: absolute;
      top: 19.4%;
      right: 0%;
      z-index: 500;
    }
    .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9 {
      position: absolute;
    }
    .img1 {
      bottom: -0.1%;
      right: 9.25%;
    }
    .img2{
      bottom: -0.1%;
      right: 2.5%;
    }
    .img3 {
      top: 147px;
      left: 115px;
    }
    .img5 {
      top: 155px;
      left: 720px;
    }
    .img6 {
      top: 200px;
      left: 680px;
    }
    .img7 {
      top: 210px;
      left: 680px;
    }
    .img8 {
      bottom: -3.4px;
      left: -84px;
    }
    .img9 {
      top: 0;
    }

    // 標題
    h1,h2{
      font-weight: bold;
      color: $primary;
    }
    h1 {
      padding-top: 48px;
      line-height: 68px;
    }
    h2 {
      padding-top: 4px;
      line-height: 60px;
    }
    p {
      line-height: 24px;
      display: inline-block;
      padding-top: 24px;
    }

    // btn
    .btnArea {
      padding-top: 34px;
      display: flex;

      button {
        display: flex;

        &.btnSecondary {
          margin-right: 20px;
        }
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 8px;
      }
    }
  }

  // whats new
  .whatsNew {

    .whatsNewTop {
      padding-top: 60px;
      display: flex;
      justify-content: space-between;

      .title {
        
        p {
          line-height: 24px;
        }
        h5 {
          color: $primary;
          line-height: 36px;
          font-weight: bold;
          padding-top: 2px;
        }
      }

      .btnArea {
        align-self: flex-end;

        button {
          display: flex;

          img {
            padding-left: 8px;
          }
        }
      }
    }

    //  product cards
    .productCardsArea {
      padding-top: 28px;

      .productCard {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 28px rgba(0, 0, 0, .16);
        margin-bottom: 20px;

        .imgBoxFit {
          margin: auto;
          padding: 8px;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .cardBody {
          padding: 16px 16px 20px 16px;
          
          .cardTitle {
            font-weight: bold;
            line-height: 24px;
          }

          .cardInfo {
            padding-top: 4px;

            span {
              color: $neutral-60;
              font-size: 12px;
              line-height: 18px;
              &.aboutGene {
                padding-right: 8px;
              }
              &.aboutAge {
                padding-left: 8px;
              }
            }
          }

          .cardPrice {
            display: inline-block;
            padding-top: 4px;
            line-height: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}