header {
  position: fixed;
  z-index: 1000;

  .headerArea {
    padding: 30px 0 30px 0;
    display: flex;
  
    .header-l {
      padding-right: 36px;
      display: flex;

      nav {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
    
        a {
          padding: 8px 0 8px 48px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .header-r {
      display: flex;

      .searchArea {
        padding-right: 14px;
      }

      // btn
      .btnArea {
        padding-right: 14px;
      }

      // 語言下拉選單
      .languageSelection {
        display: flex;
        align-items: center;

        .countyIcon {
          padding-right: 8px;
        }

        .arrowIcon {
          padding-left: 4px;
        }
      }
    }
  }
}
