header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  &.scrollBgc {
    background-color: #fff;
  }
  
  .headerArea {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;

    @include laptop {
      align-items: center;
    }

    .menuIcon {
      display: none;

      @include laptop {
        display: block;
      }
    }
  
    .header-l {
      padding-right: 36px;
      display: flex;

      @include laptop {
        padding-right: 0;
      }

      .logo {
        padding-right: 32px;

        @include laptop {
          align-self: center;
        }
      }

      .navBar {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;

        @include laptop {
          display: none;
        }
    
        .linkStyle {
          padding: 16px 16px 8px 16px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;

          &::after {
            content: "";
            width: 75%;
            height: 2px;
            background-color: $primary;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            transform-origin: center; // 以中心進行縮放
            transition: transform 0.3s ease-out; // 動畫效果
          }

          &.active::after,
          &:hover::after {  
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
    }

    .header-r {
      display: flex;

      @include laptop {
        display: none;
      }

      .searchArea {
        padding-right: 14px;
      }

      // btn
      .btnArea {
        padding-right: 14px;
      }

      // 語言下拉選單
      .languageSelection {
        display: flex;
        align-items: center;

        .countyIcon {
          padding-right: 8px;
        }

        .arrowIcon {
          padding-left: 4px;
        }
      }
    }

    .searchIcon {
      display: none;

      @include laptop {
        display: block;
      }
    }
  }
}

// 平板以下尺寸的菜單彈窗
.menuPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;

  .background {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    
    .closeIcon {
      font-size: $fontSizeDefault + $fontSpace * 13;
      position: absolute;
      top: 30px;
      right: 40px;
      cursor: pointer;
      transition: transform 0.4s ease; 

      &:hover {
        transform: rotate(180deg);
      }
    }

    .menuArea {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 140px;

      a {
        font-size: $fontSizeDefault + $fontSpace * 13;
        color: $primary;
        display: inline-block;
        padding: 24px;
        letter-spacing: .08rem;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}