// 文字大小預設
$fontSizeDefault: 1rem;
// 文字大小倍率
$fontSpace: 0.1rem;

// 固定色
$primary: #003459;
$secondary: #F7DBA7;
$neutral-00: #FDFDFD;
$neutral-40: #99A2A5;
$neutral-60: #667479;
$neutral-80: #242B33;
$bgc: #FCEED5;